body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
 }
 .contrainer{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(0, 251, 255);
    color: azure;
 }
 titulo{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px
 }
 .banner{
 
 
 
 }
 .banner img{ 
    max-width: 100%;
    height: auto;
    border-radius: 30px;
 
 }
 .ator{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
    
  }
 .atores{
     text-align: center;
 }
 .ator img{
     width: 300px;
     height: auto;
     
 }