body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
 }
 .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(85, 12, 98);
    color: azure;
 }
 titulo{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px
 }
 .banner{
 
 
 
 }
 .banner img{ 
    max-width: 100%;
    height: auto;
    border-radius: 30px;
 
 }
 .atores{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
 
 .ator{
     text-align: center;
 }
 .ator img{
     width: 150px;
     height: 200;
     object-fit: cover;
     border-radius: 15px;
     
 }
 
 .nome-personagem{
     font-family: 'Times New Roman', Times, serif;
     color: crimson;
 }