@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jacquard+24+Charted&display=swap');

body{
    font-family: Anton, sans-serif;
    margin: 0;
    padding: 0;
 }
 .container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(red,purple,blue);
    color: azure;
    
 }
 .titulo-principal{
    font-family: Jacquard 24 Charted, serif;
    text-align: center;
 }
 titulo{
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px
 }
 .banner{
 
 
 
 }
 .banner img{ 
    max-width: 100%;
    height: auto;
    border-radius: 30px;
 
 }
 .atores{
    display:flex;
    justify-content: space-around;
    margin-bottom: 30px;
  }
 
 .ator{
     text-align: center;
 }
 .ator img{
     width: 150px;
     height: 200;
     object-fit: cover;
     border-radius: 15px;
     
 }
 
 .nome-personagem{
     font-family: 'Times New Roman', Times, serif;
     color: rgb(254, 0, 0);
 }